*{
    margin: 0%;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header
{
    background-color:whitesmoke;
    height: 100vh;
    background-size:cover;
    background-position: center;
}
nav 
{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height:60px;
    background-color:#635cda;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    padding:0px 5%;
    
   }
.logo
   {
       text-decoration: none;
       color:black;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }


ul li{
    display: inline-block;
    list-style-type: none;
    margin-top: 15px;
    margin-right: 10px;
    
}

ul li a{
    text-decoration: none;
    color: whitesmoke;
    padding: 5px 30px;
    color: black;
   

}

ul li a:hover
{
    background-color: whitesmoke;
    color: #635cda;
    border-radius: 15px;

}
.container1{
    background-color: aliceblue;
    width: 30vh;
    box-shadow: 5px 8px 8px  #888888;
    border-radius: 12px;
    padding: 5px;
    
}
img 
{
    position: absolute;
    width: 300px;
    height: auto;
    max-width:50%;
    margin-left: 75vmax;
    margin-right: 35vh;
}
.skills
{
    width: 500px;
    margin: 60px auto;
    color:white;
}
.skills li
{
    margin: 20px 0;
}
.bar
{
    background : #353b48;
    display: block;
    height : 2px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius:3px;
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3;
}
.bar span{
    height:2px;
    float:left;
    background: #2187e7;
}
.html
{
    width: 70%;
    animation: html 2s;
}
.css
{
    width: 80%
    animation: css 2s;
}
.ve
{
    width: 90%;
    animation: ve 2s;
}
.java
{
    width:85%;
    animation: html 2s;
}
@keyframes html
{
    0%
    {
        width:0%;
    }
    100%
    {
        width:70%;
    }
}
@keyframes css
{
    0%
    {
        width:0%;
    }
    100%
    {
        width:80%;
    }
}
@keyframes ve
{
    0%
    {
        width:0%;
    }
    100%
    {
        width:90%;
    }
}
@keyframes java
{
    0%
    {
        width:0%;
    }
    100%
    {
        width:85%;
    }
}