*{
    margin: 0%;
    padding: 0%;
    font-family: 'Comic Sans MS';
}
header
{
    background-color:whitesmoke;
    height: 100vh;
    background-size:cover;
    background-position: center;
}
nav 
{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height:60px;
    background-color:#635cda;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    padding:0px 5%;
    
   }
.logo
   {
       text-decoration: none;
       color:black;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }


ul li{
    display: inline-block;
    list-style-type: none;
    margin-top: 15px;
    margin-right: 10px;
    
}

ul li a{
    text-decoration: none;
    color: whitesmoke;
    padding: 5px 30px;
    color: black;
   

}

ul li a:hover
{
    background-color: whitesmoke;
    color: #635cda;
    border-radius: 15px;

}
.container1{
    background-color: aliceblue;
    width: 30vh;
    box-shadow: 5px 8px 8px  #888888;
    border-radius: 12px;
    padding: 5px;
    
}
img 
{
    position: absolute;
    width: 300px;
    height: auto;
    margin-left: 125vh;
    margin-right: 35vh;
}
.container {
    margin-left: 50px;
    width: 50%; /* Full width */
    background-color: #ddd; /* Grey background */
  }
  
  .skills {
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: white; /* White text color */
  }
  
  .html {width: 80%; background-color: #04AA6D;} /* Green */
  .css {width: 70%; background-color: #2196F3;} /* Blue */
  .ve {width: 90%; background-color: #f44336;} /* Red */
  .php {width: 60%; background-color: #808080;} /* Dark Grey */